/* styles.css */
body {
    font-family: 'DejaVu Sans', sans-serif;
    background-color: #b0f2b6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#stock-container {
    width: 30%;
    background-color: transparent;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 14px;
}

#table-stock {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#table-stock th, #table-stock td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

#advertisement-container {
    width: 30%;
    background-color: transparent;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.label-container {
    margin-bottom: 10px;
    text-align: center;
}

.label-container label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
}

.label-container input {
    width: 70%;
    height: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    color: black;
    border-radius: 2px;
    margin-bottom: 20px;
}

#quantite {
    width: 70%;
    padding: 8px;
    height: 10px;
    font-size: 16px;
    border: 1px solid #000;
    color: black;
    border-radius: 2px;
    margin-bottom: 20px;
    background: yellow;
}

#prix {
    width: 70%;
    height: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    color: black;
    border-radius: 2px;
    margin-bottom: 20px;
    background: yellow;
}

#update-button {
    width: 30%;
    padding: 8px;
    cursor: pointer;
    border: black;
    border-radius: 2px;
    color: black;
    font-size: 14px;
    margin: 25px auto;
}

#cubic-zone {
    width: 30%;
    background-color: transparent;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
}

.black-border-square {
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-image {
    max-width: 100%;
    max-height: 100%;
}
